body {
    min-height: 100vh;
    background: url(/public/images/bg.png);
}

#main {
    flex-grow: 1;
}

#columns > div {
    padding: 5px;
}

.glass {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fffa;
}

/* nav */
nav {
    margin-bottom: 5px;
}

nav span {
    cursor: pointer;
}

nav, footer {
    background-color: #210a;
}

/* footer */
footer {
    margin-top: 5px;
    color: #fff;
}

/* АВТОРИЗАЦИЯ */
#btn-auth, #btn-reg, #btn-leave {
    background-color: #210a;
    color: #fff;
}